
#principal{

    width: 1000px;
    height: 3000px;
    margin: auto;
   background-color: rgb(240, 236, 228);

}
#imageone{
    width: 1000px;
    height: 400px;
    text-align: center;
   
}
#text0{
    font-family: lucida calligraphy;
    color: rgb(77, 61, 42);
    
}

#tete{
    width: 1000px;
    height: 50px;
    color: rgb(9, 10, 10);
    text-align: center;
    font-family: cursive;
    font-style: italic;
    padding-top: 10px;
    background-color: beige;
    padding-bottom: 10px ;
}
#paris{
    display: inline;
    margin-right: 270px ;
    color: black;
}
li  {
    
    display: inline-block;
    text-align: center;
    padding: 10px;
    width: 50px;
    height: 20px;
    cursor: pointer;


}
#sous{
    background: none;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.list a{
    text-decoration: none;
}

#menuD{
    position: relative;
    display: inline-block;
    padding-left: 250px ;
}

#content{
    display: none;
    position: absolute;
    background-color: blueviolet;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

a{
    color: black;
    padding: 12px 15px;
    text-decoration: non;
    display: block;
}

#menuD:hover #content{
    display: block;
}

#menuD :hover #sous{
    background-color: brown;
}

h4{
   font-family: monotype corsiva;
    font-style: italic;
}
div #s1{
 
    width:1000px;
    height: 300px;
    border:10px ;
    margin: auto;
    background-color: rgb(241, 185, 216);
    margin-top: 25px;
   
}

div #image1{
    margin-left: 20px;
    margin-top: 30px;
    float: left;
    width: 400px;
    height: 350px;
}
 
div #text1 {
    float: right;
    width: 300px;
    height: 200px;
    margin-right: 25px;
    margin-top: 30px;
    text-align: center;
    font-style: italic;
    font-family: segeo script;
}
div #s2{
    
    width: 1000px;
    height: 500px;
    border:10px ;
    margin: auto;

}
div #image2{
    margin-left: 20px;
    margin-top: 30px;
    clear: both;
    width: 400px;
    height: 400px;
    float: left;
}
div #text2{
    
    width: 300px;
    height: 400px;
    margin-right: 15px;
    margin-top: 20px;
    text-align: center;
    float: right;
    font-style: italic;
    font-family: segeo script;

}
div #s3{
    width: 1000px;
    height: 500px;
    border:10px ;
    margin: auto;
    background-color: rgb(231, 211, 146);

}
div #image3{
    margin-left: 20px;
    margin-top: 30px;
    clear: both;
    width: 400px;
    height: 400px;
    float: left;
}
div #text3{
    
    width: 300px;
    height: 400px;
    margin-right: 15px;
    margin-top: 20px;
    text-align: center;
    float: right;
    font-style: italic;
    font-family: segeo script;
    padding-top: 40px;
}
div #s4{
    margin: auto;
    width: 1000px;
    height: 500px;
    border:10px ;
   margin-top: 20px;

}
div #image4{
    margin-left: 20px;
    margin-top: 30px;
    clear: both;
    width: 400px;
    height: 400px;
    float: left;
}
div #text4{
    
    width: 300px;
    height: 400px;
    margin-right: 15px;
    margin-top: 20px;
    text-align: center;
    float: right;
    font-style: italic;
    font-family: segeo script;
    padding-top: 40px;
}
#s5{
    height: 500px;
    width: 1000px;
}
#fin{
    font-style: italic;
    font-family: segeo script;
    width: 800px;
    height: 50px;
    margin: auto;
}
h2{
    font-size:  20px large;
    color: rgb(50, 61, 128);
}

