
#principal{

    width: 1000px;
    height: 2800px;
    margin: auto;
   background-color: rgb(240, 236, 228);

}
#imageone{
    width: 1000px;
    height: 420px;
    text-align: center;
   
}
#text0{
    font-family: lucida calligraphy;
    color: rgb(77, 61, 42);
    
}

#tete{
    width: 1000px;
    height: 50px;
    color: rgb(9, 10, 10);
    text-align: center;
    font-family: cursive;
    font-style: italic;
    padding-top: 10px;
    background-color: beige;
    padding-bottom: 10px ;
}
#tokyo{
    display: inline;
    margin-right: 270px ;
    color: black;
}
li  {
    
    display: inline-block;
    text-align: center;
    padding: 10px;
    width: 50px;
    height: 20px;
    cursor: pointer;


}
#sous{
    background: none;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.list a{
    text-decoration: none;
}

#menuD{
    position: relative;
    display: inline-block;
    padding-left: 250px ;
}

#content{
    display: none;
    position: absolute;
    background-color: blueviolet;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

a{
    color: black;
    padding: 12px 15px;
    text-decoration: non;
    display: block;
}

#menuD:hover #content{
    display: block;
}

#menuD :hover #sous{
    background-color: brown;
}

h4{
   font-family: monotype corsiva;
    font-style: italic;
}
div #s1{
    margin: auto;
    width: 1000px;
    height: 420px;
    border:10px ;
    padding-top: 20px;
    background-color: rgb(203, 229, 231);
    margin-top: 20px;
}

div #image1{
    margin-left: 20px;
    margin-top: 30px;
    float: left;
    width: 400px;
    height: 400px;
}
 
div #text1 {
    float: right;
    width: 300px;
    height: 300px;
    margin-right: 100px;
    margin-top: 30px;
    text-align: center;
    font-style: italic;
    font-family: segeo script;
}
div #s2{
    margin-top: 30px;
    width: 830px;
    height: 500px;
    border:10px ;
    margin-left: 30px;

}
div #image2{
    margin-left: 20px;
    margin-top: 30px;
    clear: both;
    width: 400px;
    height: 400px;
    float: left;
}
div #text2{
    
    width: 300px;
    height: 400px;
    margin-right: 50px;
    margin-top: 20px;
    text-align: center;
    float: right;
    font-style: italic;
    font-family: segeo script;

}
div #s3{
    
    width:1000px;
    height: 500px;
    border:10px ;
    margin: auto;
background-color: rgb(212, 121, 177);
}
div #image3{
    margin-left: 20px;
    margin-top: 30px;
    clear: both;
    width: 400px;
    height: 400px;
    float: left;
}
div #text3{
    
    width: 300px;
    height: 400px;
    margin-right: 100px;
    margin-top: 20px;
    text-align: center;
    float: right;
    font-style: italic;
    font-family: segeo script;
    padding-top: 40px;
}
div #s4{
    margin-top: 30px;
    width: 1000px;
    height: 500px;
    border:10px ;
    margin-left: 30px;

}
div #image4{
    margin-left: 20px;
    margin-top: 30px;
    clear: both;
    width: 400px;
    height: 400px;
    float: left;
}
div #text4{
    
    width: 400px;
    height: 400px;
    margin-right: 150px;
    margin-top: 20px;
    text-align: center;
    float: right;
    font-style: italic;
    font-family: segeo script;
    padding-top: 40px;
}
#s5{
    height: 500px;
    width: 1000px;
}

